{% extends 'base.html' %}
{% block content %}
        <div class="div-container">
            <div class="outer-box">
                <div class="second-row">
                    <h1>Hello User</h1>
                    <p> Would you like us to analize your business plan for you and see if it is viable and profitable venture</p>
                </div>
                <div class="third-row">

                    <a class="links" href="{% url 'trials'%}">
                        <button class="buttons">
                            Start 
                        </button>
                    </a>
                </div>
            </div>
        </div>
       {% endblock%}