{% extends "base.html" %}
{% load static %}
{% block content %}
        <section class="hero">

        <!-- LEFT TEXT -->
        <div class="hero-left">
            <p>
                Make smart business decisions by understanding your location, 
                capital, and market opportunities. This the best way of making sure you don't start a business at a wrong location that won't bring profit.
            </p>
        </div>

        <!-- CENTER IMAGE -->
        <div class="hero-center">
            <div class="circle">
                <img src="{%static 'images/'%}" alt="My Business Area">
            </div>
        </div>

        <!-- RIGHT TEXT -->
        <div class="hero-right">
            <h1>
                BUILD THE<br>
                <span id="swap-word">RIGHT</span><br>
                BUSINESS
            </h1>
            <a href="signup.html">
                <button class="apply-btn">Try Now</button>
            </a>
            
        </div>

    </section>

    <!-- =========================
         TYPING ANIMATION MESSAGE (LOWER PART)
    ========================= -->
    <section class="message-section">
        <p id="typed-text"></p>
    </section>
    <footer class="footer">
    <div class="footer-container">

        <!-- Brand / About -->
        <div class="footer-section">
            <h3 class="footer-logo">MicroBiz Reality Check</h3>
            <p>
                Helping entrepreneurs make smarter business decisions through
                clear insights, data, and AI-powered guidance.
            </p>
        </div>

        <!-- Links -->
        <div class="footer-section">
            <h4>Product</h4>
            <ul>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Try Now</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Company</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

    </div>
{% endblock %}