{% extends 'base.html' %}
{% block content %}
        <div class="div-container">
            <div class="outer-box">
                <div class="second-row">
                    <input class="email" placeholder="Email Address">
                    <input class="password-one" placeholder="Enter Password">
                </div>
                <div class="third-row">

                    <a class="links" href="dash.html">
                        <button class="buttons log-in">
                            Log in
                        </button>
                    </a>
                </div>
            </div>
        </div>
        
        {% endblock %}