{% extends "base.html" %}
{% block content %}
        <div class="div-container">
            <div class="outer-box">
                <div class="first-row">
                    <input class="f-name" placeholder="First Name">
                    <input class="s-name" placeholder="Second name">
                </div>
                <div class="second-row">
                    <input class="email" placeholder="Email Address">
                    <input class="password-one" placeholder="Enter Password">
                    <input class="password-two" placeholder="Confirm Password">
                </div>
                <div class="third-row">
                     <a class="links" href="dash.html">
                        <button class="buttons sign-up">
                            Sign up
                        </button>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}