{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="div-container">
            <div class="outer-box">
                <div class="first-row">
                    <input class="capital" placeholder="Start Up Capital">
                    <input class="time" placeholder="Time (in Months)">
                </div>
                <div class="second-row">
                    <input class="unit-price" placeholder="Unit Selling Price">
                    <input class="expected-sale" placeholder="Expected Units Sold Per Month">
                    <input class="growth-rate" placeholder="Growth Rate Per Month">
                    <input class="unit-cost" placeholder="Unit Variable Cost">
                    <input class="monthly-expenses" placeholder="Fixed Monthly Expenses">
                    <input class="start-up-cost" placeholder="One Time Start Up Cost">
                    <input class="inventory-cost" placeholder="Initial Inventory Cost">
                    <input class="contingency" placeholder="Contingency Fund">
                </div>
                <div class="third-row">
                        <button class="buttons sign-up">
                            Submit For Analysis
                        </button>
                </div>
            </div>
        </div>
        
{% endblock %}